body {
  background-image:  url('../img/green-background.jpg');
}

h1{
	font-size: 400%;
	text-align: left;
	margin-top: 5px;
	color: yellow;
}

h2 {
  position: absolute;
  left: 1200px;
  top: 0px;
}

h3{
	color: white;
	font-size: 150%;
	text-align: center;
	margin-bottom: 5px;
	-webkit-text-stroke: 1px white;
}

p#h1
{
	font-weight: bold;
	font-size: 550%;
	margin-bottom: 5px;
	color: red;
	-webkit-text-stroke: 1px yellow;
	left: 100px;
}

p#h2{
	position:absolute;
	background-blend-mode: lighten;
	font-size: 300%;
	margin-bottom: 5px;
	color: white;
	text-align: justify;
	left: 150px;
	right: 500px;
	top:400px;
}

p#h3{
	background-blend-mode: lighten;
	font-size: 300%;
	margin-bottom: 5px;
	color: white;
	text-align: justify;
	left: 150px;
	right: 500px;
	top:300px;
}

p#h4{
	position: relative;
	background-blend-mode: lighten;
	font-size: 300%;
	margin-bottom: 5px;
	color: white;
	text-align: justify;
	left: 150px;
	right: 500px;
	top:50px;
}

p#h4{
	position: relative;
	
}


a#h1{
  background-color: pink;
	color: black;
	text-align: center;
	font-size: 200%;
	display: block;
 	padding: 8px 16px;
  	text-decoration: none;
}


a#h1:hover:not(.active){
	background-color: red;
	color: white;
	text-align: center;
	font-size: 200%;
}

a#h3:hover:not(.active){
	color: white;
}

a#h3{
	color: white;
}

a#h1.active {
  background-color: green;
  color: white;
}

a#h2{
	text-decoration: none;
}
.box1{
	position: relative;
	background-color: yellow;
	border: 2px solid black;
	margin: 5px;
}

.box{
	position: relative;
	background-color: orange;
	background: url('../img/cover.jpg');
	border: 2px solid black;
	margin: 5px;
	padding: 20px;
}

.box1{
	position: relative;
	background-color: blue;
	border: 1px solid black;
	margin: 2px;
	padding: 20px;
	opacity:20%;
}
.container{
	position: relative;
}

.row{
	position: relative;
	width: 100%;
}

@media(min-width: 992px){
	.col-lg-4{
		float: left;
	}
	.col-lg-4{
		width: 20%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.col-md-6,.col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}

table{
	width: 100%;
}
table#a{
	width: 90%;
}


    .table1 {
    		background-image: url('../img/lines_texture.jpg');
            position: relative;
            table-layout:  center;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 75%;
        }
    
        td,
        .th1 {
            border: 1px solid #cccccc;
            padding: 8px;
        }
    
        .th1 {
            font-weight: bold;
            text-transform: uppercase;
        }

        .table2 {
    		background-image: url('../img/lines_texture.jpg');
            position: relative;
           text-align: center;
            table-layout:  center;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }
    
        